<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header th:insert="~{blocks/header}"></header>
<div th:text= "${content}" style="display: flex;"/>
<form action="/login" method="POST" style="display: flex; flex-direction: column; align-content: center">
    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<footer th:insert="~{blocks/footer}"></footer>
</body>
</html>